<ion-header style="background-color: transparent;">
  <ion-toolbar style="--background: transparent;">
    <ion-icon size="large" name="arrow-back-outline" (click)="goBack()" class="black-icon"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  <img src="assets/Freiburg-MNK-Ausstellungsansicht-Durchblick.jpg" style="">

  <ion-card style="margin-top:-50px; margin-left: 0px; margin-right: 0px; padding: 15px">
    <h1 style="text-align: center;"> <strong> Museum für Neue Kunst </strong></h1>
    <p>
      Das Museum für neue Kunst ist das Museum für Moderne Kunst der Städtischen Museen in Freiburg im Breisgau,
      Marienstraße 10a.
    </p>
    <ion-chip color="primary">trending</ion-chip>
    <ion-chip color="primary">Museum</ion-chip>
    <ion-row>
      <h3 style="color:red;"> Aktuelle Ausstellung:</h3>
      <h4> Einsteins Universum</h4>
    </ion-row>

    <ion-card>
      <ion-row>
        <ion-col size=4>
          <img src="assets/rocknroll.png" style="max-width: 100px; border-radius: 50%;">
        </ion-col>
        <ion-col size=8>
          <ion-row>
            <p><strong>Rock'n'Roll-Tour</strong></p>
          </ion-row>
          <ion-row>
            <p> William S. Burroughs arbeitete gemeinsam mit Nirvana-Frontmann Kurt Cobain am Album 'The Priest They
              Called Him'.</p>
          </ion-row>
          <ion-row>
            <ion-button (click)="goToTour()"> Los! </ion-button>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card>
      <ion-row>
        <ion-col size=4>
          <img src="assets/history.png" style="max-width: 100px; border-radius: 50%;">
        </ion-col>
        <ion-col size=8>
          <ion-row>
            <p><strong>History-Tour</strong></p>
          </ion-row>
          <ion-row>
            <p> William S. Burroughs lässt sich der Beat-Literatur zuordnen. Er schrieb oft über mystische Themen, v.a. in 'Electronic Revolution.</p>
          </ion-row>
          <ion-row>
            <ion-button (click)="goToTour()"> Los! </ion-button>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-card>

  </ion-card>


  <!-- id: string;
  name: string;
  streetAddress: string;
  zipCode: string;
  city: string;
  country: string;
  latitude?: number;
  longitude?: number;
  websiteURL?: string; -->











</ion-content>
