<ion-grid class="profile-intro ion-padding-top ion-padding-horizontal">
  <ion-row>
    <ion-col size='4' class="ion-padding-start">
      <img class="profile-photo" src="https://res.cloudinary.com/og-tech/image/upload/s--Ivs1sp-J--/c_scale,w_100/v1529311900/og_icon.jpg">
    </ion-col>
    <ion-col size='8'>
      <div class="profile-info ion-padding-top">
        <div class="post-count info-square">
          <p>
            <strong>20</strong><br>
            <em style="color: gray;">Touren</em>
          </p>
        </div>
        <div class="follower-count info-square">
          <p>
            <strong>12</strong><br>
            <em style="color: gray;">Abzeichen</em>
          </p>
        </div>
        <div class="following-count info-square">
          <p>
            <strong>6</strong><br>
            <em style="color: gray;">Interessen</em>
          </p>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>

<div class="more-details ion-no-margin">
  <p style="margin: 1%;"><strong>Paul Schneis</strong></p>
  <p style="color: gray; margin: 1%;">Student @ Uni Freiburg</p>
</div>
