<ion-content [fullscreen]="true" class="ion-padding">

  <ion-thumbnail style="margin-top: 72px;  margin-left: auto;
  margin-right: auto;">
    <img style="text-align: center;" src="assets/logo_2.png">
  </ion-thumbnail>
  <ion-text>
    <h1 style="font-weight: bold; text-align: center;">Willkommen bei Treye</h1>
    <p style="font-weight: lighter; color: gray; text-align: center;">Kultur braucht jede:r von Zeit zu Zeit.</p>
  </ion-text>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="orange" expand="block" routerLink="/login" routerDirection="forward">
          <ion-label style="font-weight: bold;"> LOG-IN </ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button style="--background:#FFDDCC" expand="block" routerLink="/register" routerDirection="forward">
          <ion-label style="color: #ff4d00; font-weight: bold;"> PRIVATER LOG-IN </ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button style="--background:#FFDDCC" expand="block" routerLink="/register" routerDirection="forward">
          <ion-label style="color: #ff4d00; font-weight: bold;"> ALS UNTERNEHMEN REGISTRIEREN </ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="orange" expand="block" fill="clear" routerLink="/app" routerDirection="forward">
          <ion-icon name="stopwatch-outline" style="padding-right: 16px;"></ion-icon>
          <ion-label> WEITER ALS GAST </ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-text class="ion-text-center" style="color: gray;">
    <p style="font-size: small;">Mit Erstellung des Accounts stimme ich den ABGs zu.</p>
    <p style="padding-top: 48px;">Oder</p>
  </ion-text>

  <ion-grid>
    <ion-row class="ion-justify-content-evenly">
      <ion-col>
        <ion-button fill="clear" class="social-logins ion-margin">
          <ion-icon name="logo-facebook" slot="start"></ion-icon>
          <ion-label>FaceBook</ion-label>
        </ion-button>

      <ion-button fill="clear" class="social-logins ion-margin" style="color: red;">
        <ion-icon name="logo-google" slot="start"></ion-icon>
        <ion-label>Google</ion-label>
      </ion-button>
    </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
